body {
    margin: 0;
    padding: 0;
    padding: 0;
}

main {
    width:90%;
    margin: 0 auto;
    padding: 0;
}

nav, #feature {
    margin: 1% 1% 0 ;
}

footer {
     margin: 0 1% 1% 1%;
}

#feature {
    background-color: lightblue;
}

section {
    display: flex;
    flex-direction:row;
    margin-top: 1%;
    justify-content: space-around;
    align-items: center;

}
/* section {
overflow:auto;
} */

.column1, .column2, .column3 {
    width:20%;
    margin: 0 1% 1% 1%;
    float:left;
    background-color:tomato;
}

nav, footer {
    background-color: black;
    padding: 10px 0;
}

article, #feature
{
    height:250px;
    margin-bottom: 1%;
}

@media only screen and (max-width:700px) {
     main {
     width: 100%;
     }
    section {
        flex-direction: column;

    }
    .column1, .column2, .column3 {
        width: 98%;
        margin-bottom: 1%;
    }

}
