body {
width: 90%;
margin: 1% auto;
}

main {
/* overflow: auto; */
}

section {
overflow:auto;
}

nav {
background-color: black;
height: 20px;
margin: 0 1% 1%;
}

#feature {
     background-color: lightblue;
}

article, #feature
{
height:250px;
margin: 0 1% 1%;
}

.column1, .column2, .column3 {
width: 31.333%;
float:left;
background-color: tomato;
height:200px;
}

footer {
     background-color: black;
     padding: 20px;
     margin: 0 1%;
}
